<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>
<div class="container col-12 col-xl-4 text-center">
  <h1>Lista de Usuarios</h1>
  <% if(users.length===0){ %>
  <h2>Não existem Usuarios cadastrados</h2>

  <% } else { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <% for (var i=0; i < users.length; i++) { %>
      <tr>
        <td scope="row"><%= i + 1 %></td>
        <td><%= users[i].email %></td>
        <td>
          <div class="d-flex flex-column flex-lg-row justify-content-center">
            <a
              href="/user/<%= users[i].id %>"
              class="btn btn-primary d-inline mx-lg-2"
              >Editar</a
            >
            <form
              method="post"
              action="/user/delete"
              id="delete-user"
              class="d-flex flex-column"
            >
              <input
                type="hidden"
                id="id"
                name="id"
                value="<%= users[i].id %>"
              />
              <button
                type="submit"
                onclick="deleteUserForm()"
                class="btn btn-danger mt-lg-0 mt-3 mt-lg-0"
              >
                Delete
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
