<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="container col-12 col-xl-4">
      <h1 class="text-center">Página de Perfil</h1>

      <h2 class="my-4">Informações do Usuario <%= email %>
      </h2>
      <div class="mb-4">
        <div class="mb-2"><strong>Email:</strong>
          <%= email %>
        </div>
        <div><strong>Perfil:</strong>
          <%= profile %>
        </div>
      </div>
      <a href="/user/update/<%= id %>">Editar Informações</a>
    </div>

    <%- include('../partials/footer.ejs') %>